---
import Layout from '@/layouts/Layout.astro';
import IconSparkles from '@/components/icons/IconSparkles.astro';
import { Browser } from '@/modules/browser/components/Browser.tsx';
---

<script>
  import { loadIcon } from "@iconify/react";
  loadIcon("svg-spinners:pulse-rings-multiple")
</script>

<Layout class="flex flex-col" title="Wait, Read">
<div class="flex items-center gap-2">
  <IconSparkles class="w-8 sm:w-12 md:w-16" />
  <div class="text-4xl sm:text-5xl md:text-7xl font-bold">Wait, Read</div>
</div>

<div class="mt-4 text-sm text-muted-foreground">
  <p>
  Hi! 👋
  </p>
  <p class="mt-1">
  My name is <a class="underline" href="https://github.com/tokiory">tokiory</a>, I'm a fullstack developer who is interested in Typescript and Go.
  </p>
  <p class="mt-1">
    I like to read different articles and I think that reading articles expands the horizons of each developer significantly.
  </p>
  <p class="mt-1">
  Here, a list of articles that I read, some of these articles are good, some are quite mediocre, however,
I still bring here absolutely everything I read. <span class="leading-snug text-transparent bg-clip-text bg-gradient-to-r from-indigo-400 to-purple-400">Have a good reading!</span>
  </p>
</div>

  <!-- Maybe it should be inside the list? -->

  <Browser client:load className="mt-4" />
</Layout>
