---
import '@/globals.css'
import Layout from '@/layouts/Layout.astro';
import List from '@/components/List.astro';
import ListItem from '@/components/ListItem.astro';
import { LINKS } from '@/data/links';
---

<Layout class="flex flex-col" title="Wait, Read">
  <div class="text-4xl sm:text-7xl font-bold">Wait, Read</div>
  <p class="mt-2"> A curated list of links to read.</p>
  <List class="mt-4">
    {LINKS.map((item) => (
      <ListItem item={item} />
    ))}
  </List>
</Layout>
