---
import '@fontsource-variable/inter';
import '@/styles/globals.css'
import Footer from '@/components/Footer.astro';

interface Props {
	title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<script>
  import { toggleTheme } from "@/lib/theme";

  const theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  toggleTheme(theme);
</script>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Tokiory's Readlist" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body class:list={[
        "max-w-[840px] p-4 py-12 mx-auto",
        className
  ]}>
		<slot />
    <Footer />
	</body>
</html>

<style is:global>
  html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
</style>
